.App {
  max-width: 900px;
  background-color: #333;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'Avenir', sans-serif;
  height: 85vh;
}

.App-title {
  text-align: center;
  padding-top: 45px;
}

.searchForm {
  text-align: center;
}

.searchbar {
  width: 85%;
  height: 45px;
  margin: auto;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
}

.App-content {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.Weather {
  width: 35%;
}

.Musicplayer {
  width: 55%;
}
